@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root[class="light"] {
    --bg-color: 255 255 255;
    --object-bg-color: 249 250 251;
  }

  :root[class="dark"] {
    --bg-color: 0 0 0;
    --object-bg-color: 17 24 39;
  }

}
