@tailwind base;
@tailwind components;
@tailwind utilities;

.phantom-button {
  height: inherit !important;
  padding: inherit !important;
}

.phantom-button:hover {
  background-color: transparent !important;
}d 

.phantom-button:hover > .wallet-adapter-button-start-icon > svg,
.phantom-button:hover > span {
  color: rgb(243 244 246) !important;
}

@layer base{
  :root[class="light"] {
    --bg-color: 255 255 255;
    --object-bg-color: 249 250 251;
    --main-text-color: 31 41 55; /*gray-800*/
  }

  :root[class="dark"] {
    --bg-color: 0 0 0;
    --object-bg-color: 17 24 39;
    --main-text-color: 156 163 175; /*gray-400*/
  }
}
